body{
    background-color: burlywood;
}

h1{
    text-align: center;
}

#p1, #p2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: darkblue;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor{
    margin-top: 50px;
    margin-left: 35px;
}
.inputContainer{
   align-items: center;
}

#inputValue{
    margin-left: 40px;
}
.btn{
    margin-top: 20px;
}

#form1{
    margin-top: 35px;
    margin-left: 35px;
}